<div class="hide" data-bind="css: { hide: !browserSupported() }">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputScheme">Input Scheme</label>

      <div class="controls">
        <select id="inputScheme"
                data-bind="options: inputSchemes, optionsText: 'title', value: selectedInputScheme">
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="comboText">Combo Input</label>

      <div class="controls">
        <input id="comboText" type="text" data-bind="value: comboText, valueUpdate: 'afterkeydown'"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Combo</label>
      <div class="controls">
        <div class="well combo-well">
          <div>
            <input id="comboLink" type="text" data-bind="value: comboLink" readonly="true" />
          </div>
          <div data-bind="html: combo"></div>
        </div>
        <div class="alert alert-error hide" data-bind="html: errorMessage, css: { hide: !hasError() }"></div>
      </div>
    </div>
  </form>
</div>

<% content_for :scripts do %>
    <%= javascript_include_tag('combobuilder') %>
    <script type="text/javascript">
        <% cache do %>
        <% moves = Dir.glob('app/assets/images/moves/*.png') %>
        window.comboAssets = {
            <% moves.each do |m| %>
            <% file = File.basename(m, '.*') %>
            '<%= file %>': '<%= image_tag 'moves/' + file + '.png' %>',
            <% end %>
        };
        <% end %>

        window.comboBuilder = window.comboBuilder || {};
        window.comboBuilder.inputSchemes = [
            <% input_schemes.each do |key, value| %>
            { name: '<%= key %>', title: '<%= value.title %>' },
            <% end %>
        ];

        window.comboBuilder.parsedComboUrl = '<%= (parsed_combo_url(:id => '$'))[0..-2] %>';
        window.comboBuilder.comboUrl = '<%= (combo_url(:id => '$'))[0..-2] %>';

        $(function () {
            ko.applyBindings(new ComboBuilderViewModel());
        });
    </script>
<% end %>